@font-face {
    font-family: "Roboto";
    src: url(assets/fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Josefin";
    src: url(assets/fonts/JosefinSans-Regular.ttf);
}

:root {
    --primary-color: #ff9100;
}

body {
    font-family: "Roboto" !important;
}

nav {
    font-family: "Josefin" !important;
}

.navbar-nav .btn {
    transition: all .3s ease-out 0s;
    background-image: linear-gradient(to left, #FF9100, #df7e00, #FF9100);
    background-position: right;
    background-size: 200%;
}

.navbar-nav .btn:hover {
    background-position: left;
    background-image: linear-gradient(to left, #FF9100, #df7e00, #FF9100);
}

.navbar-nav .nav-link:hover {
    color: var(--primary-color) !important;
}

.nav-link {
    transition: all .3s ease-out 0s;
}

.hero-section {
    height: 100vh;
}

.hero-section :nth-child(1) {
    background-color: #FFDDB5;
}

.hero-section :nth-child(1) h1 {
    font-family: "Josefin";
    font-size: 55px;
}

.hero-section :nth-child(1) span {
    color: var(--primary-color);
}

.hero-section :nth-child(1) button::after {
    content: "";
    width: 101%;
    transform: scaleX(0);
    height: 101%;
    background-color: black;
    position: absolute;
    left: 0;
    overflow: hidden;
    top: 0;
    z-index: -1;
    border-radius: 0.375rem;
    transition: transform 0.5s;
    transition-timing-function: ease;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}

.hero-section :nth-child(1) button {
    background-color: var(--primary-color);
    z-index: 1;
    overflow: hidden;
    transition: color 0.4s linear;
}

.hero-section :nth-child(1) button:hover::after {
    transform: scaleX(1);
}

.services-section .services-head :nth-child(1) {
    font-family: "Josefin";
}

.services-section {
    padding: 120px 0px;
}

.services-body .card h4 {
    font-family: "Josefin";
}

.services-body .card-body a:hover {
    border-color: var(--primary-color) !important;
    letter-spacing: 0.5px;
    color: var(--primary-color);

}

.services-body .card-body a {
    transition: all .2s ease-out 0s;
}

.services-body .card:hover{
    transition: all .4s ease-out 0s;
    border: 1px solid transparent;
    box-shadow: 0px 15px 25px rgba(168, 96, 0, 0.1);
}

.intro-section h1, .intro-section h2{
    font-family: "Josefin" !important;
}

.intro-section{
    background-color: #FFE0BB;
}

.intro-section .col-12:nth-child(2){
    background-color: white;
}

.plans-section{
    padding: 120px 0px;
    background-color: var(--primary-color);
}

.plans-body .card button::after {
    content: "";
    width: 101%;
    transform: scaleX(0);
    height: 101%;
    background-color: black;
    position: absolute;
    left: 0;
    overflow: hidden;
    top: 0;
    z-index: -1;
    border-radius: 0.375rem;
    transition: transform 0.5s;
    transition-timing-function: ease;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}
.plans-body .card button {
    background-color: var(--primary-color);
    z-index: 1;
    overflow: hidden;
    transition: color 0.4s linear;
}
.plans-body .card button:hover::after {
    transform: scaleX(1);
}